In [ ]:
start = 1
while(start <= 5):
  if(start == 3):
    start+=1
    continue
  print(start)
  start = start+1

1
2
4
5

In [ ]:
start = 1
while(start <= 5):
  if(start == 3):
    start+=1
    continue
    print('############')

  print(start)
  start = start+1

1
2
4
5

In [ ]:
num = 9
i = 2
while(i<num):
  print(i)
  i+=1

2
3
4
5
6
7
8

In [ ]:
num = 1
i = 2
out = 0
while(i<num):
  if(num%i==0):
    out = 1
    break
  i+=1

if(out == 0):
  print("it is a prime")
else:
  print("it is not prime")

it is a prime

In [ ]:
# find whether a string is a palindrome or not

data = 'sarak'
i = 0
out = 4
while(i <= 4):
  print(i , data[i] , data[out] )
  i+=1
  out-=1

0 s k
1 a a
2 r r
3 a a
4 k s

In [ ]:
data = 'saras'
i = 0
out = len(data)-1
end = 0
while(i <= 4):
  if(data[i] != data[out] ):
    end = 2
    break

  i+=1
  out-=1

if(end == 0):
  print("palindrome")
else:
  print("not palidrome")

palindrome

In [ ]:
x = 10
print("value of x ",x, id(x))
a = x
print("value of a ",a, id(a))
a = 99
print("new value of a ",a, id(a), x, id(x))

value of x  10 10751144
value of a  10 10751144
new value of a  99 10753992 10 10751144

In [ ]:
 10 & 14

10

In [ ]:
9 | 13

13

In [ ]:
# nested loop for

for i in range(1,4):
  print("student ",i)
  for j in range(1,5):
    print("subject checked=> ",j)

student  1
subject checked=>  1
subject checked=>  2
subject checked=>  3
subject checked=>  4
student  2
subject checked=>  1
subject checked=>  2
subject checked=>  3
subject checked=>  4
student  3
subject checked=>  1
subject checked=>  2
subject checked=>  3
subject checked=>  4

In [ ]:
for i in range(3,0,-1):
  print("student ",i)
  for j in range(10,14):
    print("subject checked=> ",j)

student  3
subject checked=>  10
subject checked=>  11
subject checked=>  12
subject checked=>  13
student  2
subject checked=>  10
subject checked=>  11
subject checked=>  12
subject checked=>  13
student  1
subject checked=>  10
subject checked=>  11
subject checked=>  12
subject checked=>  13

In [ ]:
for i in range(4,0,-1):
  print("student ",i)
  for j in range(1,i+1):
    print("subject checked=> ",j)

student  4
subject checked=>  1
subject checked=>  2
subject checked=>  3
subject checked=>  4
student  3
subject checked=>  1
subject checked=>  2
subject checked=>  3
student  2
subject checked=>  1
subject checked=>  2
student  1
subject checked=>  1

In [ ]:

for i in range(1,4):
  print("student ",i)
  for j in range(1,5-i):
    print("subject checked=> ",j)

student  1
subject checked=>  1
subject checked=>  2
subject checked=>  3
student  2
subject checked=>  1
subject checked=>  2
student  3
subject checked=>  1

In [ ]:
num = 4
i = 1
while(i <= 10):
  print(i*num)
  i = i+1

4
8
12
16
20
24
28
32
36
40

In [ ]:
for num in range(2,6):
  for i in range(1,11):
    print(i*num)

  print('-----------')

2
4
6
8
10
12
14
16
18
20
-----------
3
6
9
12
15
18
21
24
27
30
-----------
4
8
12
16
20
24
28
32
36
40
-----------
5
10
15
20
25
30
35
40
45
50
-----------

In [ ]:
num = int(input("Enter a number "))
i = 2
end = 0
while(i<num):
  if(num%i==0):
    end = 1
    break
  i+=1

if(end == 0):
  print('prime ')
else:
  print('not prime')

Enter a number 14
not prime

In [ ]:
num = 10
i = 2
a = 0
while(i,):
  if(num%i==0):
    a = 1
    break
  i+=1
if(a==0):
  print('prime')
else:
  print('not prime')

not prime

In [ ]:
for num in range(2,8):
  a = 0
  for i in range(2,num):
   if(num%i==0):
      a = 1
      break

if(a==0):
  print('prime',num)
else:
  print('not prime',num)

prime 7

In [ ]:
a = int(input("enter a num "))
sum = 0
for i in range(0,a):
  if(a>0):
    f=a%10
    a=a//10
    sum=sum+f
print('sum',sum)

enter a num 2345
sum 14

In [ ]:
sum = 0
for num in range(400,451):
  sum = sum+num
print('sum',sum)

sum 21675

In [ ]:
for num  in range(400,451):
  sum = 0
  a = num
  while(num>0):
    r = num%10
    num = num//10
    sum = sum+r
  print('total',a,sum)

total 400 4
total 401 5
total 402 6
total 403 7
total 404 8
total 405 9
total 406 10
total 407 11
total 408 12
total 409 13
total 410 5
total 411 6
total 412 7
total 413 8
total 414 9
total 415 10
total 416 11
total 417 12
total 418 13
total 419 14
total 420 6
total 421 7
total 422 8
total 423 9
total 424 10
total 425 11
total 426 12
total 427 13
total 428 14
total 429 15
total 430 7
total 431 8
total 432 9
total 433 10
total 434 11
total 435 12
total 436 13
total 437 14
total 438 15
total 439 16
total 440 8
total 441 9
total 442 10
total 443 11
total 444 12
total 445 13
total 446 14
total 447 15
total 448 16
total 449 17
total 450 9

In [ ]:
a = int(input("Enter a number "))
sum = 0
n = a
while(a>0):
  r = a%10
  a = a//10
  sum = sum+r**3

if(n == sum):
  print('armstrong')
else:
  print('not armstrong')

Enter a number 135
not armstrong

In [ ]:
for a in range(150,401):
  sum = 0
  n = a
  while(a>0):
    r = a%10
    a = a//10
    sum = sum+r**3

  if(n == sum):
    print('armstrong',n)

armstrong 153
armstrong 370
armstrong 371